<main class="w-dvw h-dvh flex flex-col items-center justify-center gap-4">
  @if (store.stream$ | async; as state) {
    <div class="flex flex-row gap-3">
      <div class="tooltip" data-tip="Fetch all posts">
        <button
          (click)="store.getAllAction.execute(undefined)"
          class="btn btn-success"
          [disabled]="state.isLoading"
        >
          Get All
        </button>
      </div>

      <div
        class="tooltip"
        data-tip="Open an alert with the info of a random post"
      >
        <button
          class="btn btn-info"
          [disabled]="state.isLoading || !state.posts"
          (click)="store.getOneAction.execute(undefined)"
        >
          Get One
        </button>
      </div>

      <div class="tooltip" data-tip="Create a test post">
        <button
          class="btn btn-warning"
          [disabled]="state.isLoading || !state.posts"
        >
          Create
        </button>
      </div>

      <div class="tooltip" data-tip="Delete a random post">
        <button
          class="btn btn-error"
          [disabled]="state.isLoading || !state.posts"
        >
          Delete
        </button>
      </div>
    </div>

    <div
      class="flex gap-3 flex-wrap w-[26rem] justify-center items-center h-60 bg-base-300 rounded-3xl"
      [ngClass]="{
        'overflow-scroll pl-4 pt-4': state.posts && !state.isLoading,
      }"
    >
      @if (state.isLoading) {
        <span class="loading loading-infinity loading-lg"></span>
      } @else if (state.post) {
        <kbd>{{ state.post | json }}</kbd>
      } @else if (state.posts) {
        @for (post of state.posts; track post.id) {
          <div class="badge badge-neutral font-mono">
            ID:
            {{
              post.id < 10
                ? "00" + post.id
                : post.id < 100
                  ? "0" + post.id
                  : post.id
            }}
          </div>
        }
      } @else {
        <kbd>The posts will be loaded here :)</kbd>
      }
    </div>
  }
</main>
